//- requires:

mixin controls(id)
    div(id=id).controls
        span.device Connecting
        div.button.disabled.options Options
        div.button.disabled.calibrate Calibrate
        div.button.disabled.toggle Start
        div.separator
        div.switchers.text
        div.separator
        div.switchers.spacing
        div.separator
        div.loadPath.button Load path
