//- requires:

mixin controls(id)
    div(id=id).controls
        span.device Connecting
        .button.disabled.options Options
        .button.disabled.calibrate Calibrate
        .button.disabled.toggle Start
        .separator
        .switchers.text
        .separator
        .switchers.spacing
        .separator
        .button.loadSession Load session
