//- requires:

mixin controls(id)
    div(id=id).controls
        span.device Connecting
        .buttonBlock.etud
            .button.options.disabled Options
            .button.calibrate.disabled Calibrate
            .button.toggle.disabled Start
        .separator
        .buttonBlock.text
        .separator
        .buttonBlock.spacing
        .separator
        .button.loadSession Load session
        .button.loadCondition Load condition
        .button.loadFile Load file
        .separator
        .button.simulate Simulate
        .button.gazeReplay Replay
