//- requires:
//-     slideout.less

mixin options(id)
    div(id=id).slideout.right
        div.title Options
        div.slideout_inner
            .group Colors
                .row
                    .label Text
                    input.value#text(type="color")
                .row
                    .label Current word
                    input.value#currentWord(type="color")
            .group Font
                .row
                    .label Size
                    input.value#fontSize
                .row
                    .label Line spacing
                    input.value#lineHeight
            br
            input.save(type="button", value="Save")
            input.close(type="button", value="Close")
