//- requires:
//-     slideout.less

mixin options(id)
    div(id=id).slideout.right
        .title Options
        .slideout_inner
            .group Colors
                .row
                    .label Text
                    input.value#text(type="color")
                .row
                    .label Current word
                    input.value#currentWord(type="color")
            .group Font
                .row
                    .label Size
                    input.value#fontSize
                //.row
                //    .label Line spacing
                //    input.value#lineHeight
            .group Gaze
                .row
                    .label Show pointer
                    input.value#showPointer(type="checkbox")
                .row
                    .label Highlight focused word
                    input.value#highlightWord(type="checkbox")
            .group Other
                .row
                    .label Hidden initial text
                    input.value#hiddenText(type="checkbox")
            br
            input.save(type="button", value="Save")
            input.close(type="button", value="Close")
