//- requires:

mixin statistics(id)
    div(id=id).statistics
        div.helper
        div.container
            div.title Statistics
            textarea.text
            div.button-strip
                input.close(type="button", value="Close")
                input.saveLocal(type="button", value="Save to file")
                input.saveRemote(type="button", value="Save to DB")
