//- requires:

mixin statistics(id)
    div(id=id).statistics
        div.helper
        div.container
            div.title Statistics
            textarea.text
            input.close(type="button", value="Close")
