//- requires:
//-     slideout.less

mixin textEditor(id)
    div(id=id).slideout.left.auto-expand
        .title Edit text
        .slideout_inner
            textarea.text
            br
            input.apply(type="button", value="Apply")
