//- requires:

mixin visualization(id)
    div(id=id).path
        input.close(type="button", value="Close")
        canvas
        .prompt Select a session:
            div
                select
                input.select(type="button", value="Select", autofocus="autofocus")