//- requires:

mixin visualization(id)
    div(id=id).path
        canvas
        .wait &nbsp;
        .close
        div#session.prompt Select a session:
            div
                select.hidden#categories
                select#conditions
                input.select(type="button", value="Select", autofocus="autofocus")
        div#file.prompt
            .title Select a file:
            input.file(type="file")